/* Basic reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #f5efe6;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 1rem;
}

.container{
    background-color: #fffffe;
    border-radius: 1.5rem;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    position: relative;
}

/* Screens */
.screen{
    display: none;
    padding: 2rem;
    text-align: center;
}

.screen.active{
    display: block;
}